In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [2]:
buyer = pd.read_csv('BuyerRatio.csv')
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
from scipy.stats import chi2_contingency

In [4]:
table = [[50,142,131,70],
        [435,1523,1356,750]]
table

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [5]:
print(chi2_contingency(table))
stat, p, dof, expected = chi2_contingency(table)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))
p value is 0.6603094907091882
Independent (H0 holds true)

In [6]:
stats.chi2_contingency(table)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [7]:
observed = np.array([50,142,131,70,435,1523,1356,750])
expected = np.array([42.76531299,146.81287862,131.11756787,72.30424052,442.23468701,1518.18712138,1355.88243213,747.69575948])

In [8]:
p_value = stats.chisquare(observed, expected, ddof = 3)
p_value

Power_divergenceResult(statistic=1.5959455390914483, pvalue=0.8095206646905712)