In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [3]:
centers = pd.read_csv('Costomer+OrderForm.csv')
centers

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
centers.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
centers.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [6]:
centers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [7]:
centers['Phillippines'].value_counts(),'\n',centers['Indonesia'].value_counts(),'\n',centers['Malta'].value_counts(),'\n',centers['India'].value_counts()

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64,
 '\n',
 Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64,
 '\n',
 Error Free    269
 Defective      31
 Name: Malta, dtype: int64,
 '\n',
 Error Free    280
 Defective      20
 Name: India, dtype: int64)

In [8]:
contingency_table = [[271,267,269,280],
                    [29,33,31,20]]
contingency_table

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [10]:
exp = stats.chi2_contingency(contingency_table)
exp

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [11]:
observed = np.array([271,267,269,280,29,33,31,20])
expected = np.array([271.75,271.75,271.75,271.75,28.25,28.25,28.25,28.25])

In [14]:
p_value = stats.chisquare(observed, expected, ddof = 3)
p_value

Power_divergenceResult(statistic=3.858960685820355, pvalue=0.4254298144535761)